{% extends "layout.html" %}

{% block title %}
    Credit
{% endblock %}

{% block main %}
    <form action="/credit" method="post">
        <div class="mb-3">
            <p>
                You currently have <b>{{ cash | usd }}</b>
            </p>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="addcash" name="addcash" placeholder="Amount" type="number" min="0" step="0.1" required>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}