{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol" required>
                <option hidden selected>Symbol</option>
                {% for symb in symbol %}
                    <option value="{{ symb['symbol'] }}">{{ symb['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="sell-shares" name="shares" placeholder="Shares" type="number" min="0" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}